<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>MosaicPS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreatePersonContactType</display-name>
		<servlet-name>CreatePersonContactType</servlet-name>
		<servlet-class>com.mosaicps.common.controller.CreatePersonContactType</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Create</display-name>
		<servlet-name>Create</servlet-name>
		<servlet-class>com.mosaicps.common.controller.Create</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createPersonContactType</display-name>
		<servlet-name>createPersonContactType</servlet-name>
		<servlet-class>com.mosaicps.common.controller.createPersonContactType</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>create</display-name>
		<servlet-name>create</servlet-name>
		<servlet-class>com.mosaicps.common.controller.create</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Creates</display-name>
		<servlet-name>Creates</servlet-name>
		<servlet-class>com.mosaicps.common.controller.Create</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	 <servlet-name>default</servlet-name>
       	 <url-pattern>*.jpg</url-pattern>
       	 <url-pattern>*.js</url-pattern>
       	 <url-pattern>*.png</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatePersonContactType</servlet-name>
		<url-pattern>
		/CreatePersonContactType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>
		/Create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createPersonContactType</servlet-name>
		<url-pattern>
		/createPersonContactType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>create</servlet-name>
		<url-pattern>
		/create</url-pattern>
		<url-pattern>
		/personcontacttypes/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Creates</servlet-name>
		<url-pattern>
		/Creates</url-pattern>
		<url-pattern>
		/personcontacttypes/Creates</url-pattern>
	</servlet-mapping>
        			
</web-app>
